/* Nạp 3 lớp cơ sở của Tailwind CSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Thiết lập Font chữ mặc định (Inter) đã import ở index.html */
body {
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #f9fafb; /* Màu nền xám nhạt */
}

/* Tinh chỉnh thanh cuộn (Scrollbar) cho đẹp mắt */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #cbd5e1; /* Màu xám nhạt của Tailwind */
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #94a3b8; /* Tối màu hơn khi di chuột */
}

@keyframes slideUp {
  from {
    transform: translateY(100%);
  }
  to {
    transform: translateY(0);
  }
}